
<div class="container">
<%= render 'shared/flash' %>
<%= render 'shared/errors', obj: @resturant %>
     <div class="row justify-content-center">
        <div class="col-4 my-3">
        <%= render 'shared/errors', obj: @resturant %>
        <%= form_with(url: resturant_image_path, method: :post) do |f| %>
            <div class="input-group">
            <%= f.file_field :cover_image, multiple: true, class: "col-2 form-control" %>
            <%= f.submit "Add Image", class: "btn btn-outline-warning" %>
            </div>
        <% end %>
        </div>
    </div>

    <div class="d-flex flex-row flex-wrap justify-content-center">
        <% @resturant.cover_image.each_with_index do |picture, i| %>
        <div class="card m-2" style="width: 18rem;">
            <%= image_tag picture, class: "card-img-top img-fluid", style: "height: 250px;" %>
        </div>
    <% end %>
    </div>
</div>
