<div class="container text-center mb-3">
  <%= render 'shared/flash' %>
  <h2 class="text-center mt-4"><%= @resturant.name %></h2>
  <%= link_to '[ Back to Resturants listing ]', resturants_path, class: "text-center text-danger" %>
  <div class="w-100 ">
    <div class="container col-12">
      <div class="row justify-content-center">
        <div class="col-8 mt-4">
          <div class="card text-center shadow p-3 mb-5 bg-white rounded">
            <div class="card-header fst-italic "></span>
            <% if @resturant.category_id.present? %>
              <span> <strong>Category  : </strong> <%= Category.find(@resturant.category_id).category_name %> </span>
            <% end %>
          </div>
          <div class="resturant_cover">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% @resturant.cover_image.each_with_index do |picture,i| %>
                  <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
                    <%= image_tag picture,class: "mx-auto w-100", style: "height: 400px"%>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="card-body">
            <strong>Address : </strong>
            <div class="card-text text-center"><%= @resturant.address%></div>
          </div>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <% if logged_in? && current_user.admin? %>
              <a href="#"><%= link_to 'Edit', edit_resturant_path(@resturant), class: "btn btn-outline-success"%></a>
              <a href="#"><%= link_to 'Delete', resturant_path(@resturant), method: :delete ,data: {turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger"%></a>
              <a href="#"><%= link_to 'Add Food', new_resturant_food_path(@resturant), class: "btn btn-outline-primary"%></a>
            <% end %>
            <%= link_to 'Order Online', resturant_orders_path(@resturant), class: "btn btn-outline-primary"%>
            <%= link_to 'Menu', resturant_foods_path(@resturant), class: "btn btn-outline-danger"%>
            <%= link_to 'Add Review', new_resturant_review_path(@resturant), class: "btn btn-outline-primary"%>
            <% if @resturant.book_tables.find_by(user_id: current_user.id).present? %>
              <%= link_to 'Your table bookings', resturant_book_tables_path(@resturant), class: "btn btn-outline-success" %>
            <% else %>
              <%= link_to 'Book a Table', new_resturant_book_table_path(@resturant), class: "btn btn-outline-success" %>
            <% end %>
            <%= link_to 'Photos', resturant_gallery_path(@resturant), class: "btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-8">
    <h2 class="text-center mt-4">Reviews</h2>
    <%= render 'reviews/show' %>
  </div>
</div>
</div>
