<div class="container">
  <% if logged_in? && current_user.admin? %>
  <table class="table">
        <thead>
            <tr>
            <th scope="col">UID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Type of User</th>
            <th scope="col">Edit profile</th>
            </tr>
        </thead>
        <% i=0 %>
        <% @user.each do |user| %>
        <tbody>
            <tr id="<%= user.id %>">
            <th scope="row"><%= i=i+1 %></th>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td id="adminbutton<%= user.id%>">
              <% if user.admin? %>
                <span class="btn btn-danger">ADMIN</span>
              <% else %>
                <span class="btn btn-warning">Consumer</span>
              <% end %>
            </td>
            <td id="makeadminbutton<%= user.id%>">
              <% if user == current_user %>
                <%= link_to 'Edit Profile', edit_user_path(user), class: "btn btn-outline-success"%>
                <%= link_to 'Delete Profile', user_path(current_user), class: "btn btn-outline-danger" , data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
              <% end %>
              <% if !user.admin?%>
                <button class="btn btn-outline-danger make_admin" value="<%= user.id %>" >Make user Admin</button>
                <%#= link_to 'Make user Admin', edit_user_path(user), class: "btn btn-outline-danger"%>
              <% end %>
            </td>
            </tr>
        </tbody>
        <% end %>
    </table>
  <% end %>

</div>


<script>

</script>