<%= render 'shared/flash' %>
<h1 class="text-center mt-4">Welcome <%= @user.username %></h1>
<div class="container col-md-6 col-lg-4">
  <%= form_with(url: user_location_path(@user), method: :post, class: "input-group") do |f| %>
    <%= f.text_field :city, class: "form-control border border-dark", placeholder: "Enter your city", pattern: '[A-Za-z\s]+', required: true %>
    <div class="input-group-append">
      <button type="submit" class="btn btn-outline-danger">Change city</button>
    </div>
  <% end %>
</div>
<div class="container col-md-6 col-lg-4 text-center my-2 shadow p-3 mb-5 bg-body rounded">
  <div class="mb-2">
    <%if(@user.images.present?)%>
      <%= image_tag @user.images, style: "width: 300px", class: "img-fluid"%>
    <%else%>
      <%= image_tag "userimage.jpg", style: "width: 200px", class: "img-fluid"%>
    <%end%>
    <%= form_with model: User.new, local: true ,url: image_path do |f| %>
      <div class="input-group mb-3">
        <%= f.file_field :images ,{style: "display:none",id: "take_pic"}%>
      </div>
      <div class="profile-pic-add" id="change_pic">
        <i class="fa-solid fa-cloud-arrow-up"></i>
      </div>
      <%= f.submit "", class: "btn btn-primary m-auto",id: "submit_btn",style: "display:none" %>
    <% end %>
  </div>
  <span class="mb-3" style="display:block">User Type :
    <% if logged_in? && current_user.admin? %>
      <span class="text-danger">ADMIN</span>
    <% else %>
      <span class="text-warning">Consumer</span>
    <% end %>
  </span>
  <% if @user.address.present? %>
    <p class="text-center"> <strong>  Address - </strong><%= @user.address %></p>
  <% end %>
  <% if logged_in? && @user == current_user %>
    <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-outline-success"%>
  <% end %>
</div>
<div class="container d-flex justify-content-center">
  <div class="container">
    <div class="d-flex justify-content-center my-3">
      <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#orderList" aria-expanded="false" aria-controls="orderList">
        View All Orders <i class="bi bi-caret-down-fill"></i>
      </button>
    </div>
    <div class="collapse" id="orderList">
      <% if @user.orders.present? %>
        <h2 class="text-center my-3">List of all your previous orders</h2>
        <div class="d-flex justify-content-center my-3">
          <div>
            <% @orders.each do |order| %>
              <div class="mb-3">
                <div class="card bg-light" style="width: 18rem;">
                  <div class="card-header">
                    Ordered at: <%= time_ago_in_words(order.created_at) %> ago
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <strong>Food items :</strong>
                      <% order.foodname_array.each do |foodname| %>
                        <%= foodname %>
                      <% end %>
                    </li>
                    <li class="list-group-item">
                      <strong>Total Price :</strong> <%= order.total %>
                    </li>
                    <li class="list-group-item">
                      <strong>Delivery Address :</strong> <%= order.delivery_address %>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
            <%= paginate @orders %>
          </div>
        </div>
      <% else %>
        <h3 class="text-dark text-center my-3"> No orders present</h3>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="text-center my-3">
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#bookingCollapse" aria-expanded="false" aria-controls="bookingCollapse">
        Show All Bookings<i class="bi bi-caret-down-fill"></i>
      </button>
      <div class="collapse mt-2" id="bookingCollapse">
        <%= render 'book_tables/show' %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'change_profile_photo', 'data-turbolinks-track': 'reload' %>
