<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container-fluid">
    <%= link_to "ZOMZOM", root_path , class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Restaurants', restaurants_path, class: "nav-link"  %>
        </li>
        <% if logged_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Admin Panel', users_path, class: "nav-link"  %>
          </li>
        <% end %>
        <% if logged_in? %>
          <li class="nav-item">
            <% if current_user.admin? %>
              <%= link_to current_user.username, user_path(current_user) , class: "btn btn-outline-light"%>
            <% else %>
              <%= link_to current_user.username , user_path(current_user) , class: "nav-link"%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout' , logout_sessions_path , class: "nav-link", method: :delete%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log in' , new_session_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up' , new_user_path , class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <% if logged_in? %>
        <div class="dropdown notification_count" value="<%= current_user.id %>">
          <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bell"></i>
            <% if logged_in? && notification_count>0 %>
              <span id="notification-count" class="badge rounded-pill badge-notification bg-warning" data-count="0"><%= notification_count %></span>
            <% end %>
          </a>
          <ul class="dropdown-menu p-3" id="notification-list" aria-labelledby="dropdownMenuButton1">
            <% if current_user.notifications.count>0 %>
            <button class="btn btn-warning mark-read my-2" value="<%= current_user.id %>">Mark all as read</button>
              <% current_user.notifications.order(created_at: :desc).each do |notification| %>
                <% if notification.book_table_id.present? %>
                  <li class="notification-message"><%=link_to notification.message, restaurant_book_tables_path(notification.restaurant_id)%></li>
                  <div class="dropdown-divider"></div>
                <% else %>  
                  <li class="notification-message"><%=link_to notification.message, restaurant_order_path(notification.restaurant_id,notification.orders_id)%></li>
                  <li class="notification-message"><%=link_to 'Provide review', new_restaurant_review_url(notification.restaurant_id), class: "text-warning fw-bolder"%></li>
                  <div class="dropdown-divider"></div>
                <% end %>
              <% end %>
            <% else %>
              <li>No notifications present</li>
            <% end %>
          </ul>
        </div>
        <%=  form_with(url: restaurants_path, method: :get) do |form| %>
          <div class="input-group">
            <%= form.text_field :restaurant_name, value: params[:restaurant_name], placeholder: "Restaurant name", class: "form-control" %>
            <%= form.submit "Search", class: "btn btn-outline-warning" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
