<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container-fluid">
    <%= link_to "ZOMZOM", root_path , class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Resturants', resturants_path, class: "nav-link"  %>
        </li>
        <% if logged_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Admin Panel', users_path, class: "nav-link"  %>
          </li>
        <% end %>
        <% if logged_in? %>
          <li class="nav-item">
            <% if current_user.admin? %>
              <%= link_to current_user.username, user_path(current_user) , class: "btn btn-outline-light"%>
            <% else %>
              <%= link_to current_user.username , user_path(current_user) , class: "nav-link"%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout' , logout_path , class: "nav-link", method: :delete%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log in' , login_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up' , signup_path , class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <% if logged_in? %>
        <div class="dropdown notification_count" value="<%= current_user.id %>">
          <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bell"></i>
            <% if logged_in? && current_user.notifications.where(read: false).count>0 %>
              <span id="notification-count" class="badge rounded-pill badge-notification bg-warning" data-count="0"><%= current_user.notifications.where(read: false).count %></span>
            <% end %>
          </a>
          <% if current_user.notifications.count>0 %>
            <ul class="dropdown-menu p-3" style="width:300px;max-height: 300px;overflow:auto" id="notification-list" aria-labelledby="dropdownMenuButton1">
              <button class="btn btn-warning mark-read my-2" value="<%= current_user.id %>">Mark all as read</button>
              <% current_user.notifications.each do |notification| %>
                <li class="notification-message"><%=link_to notification.message, new_resturant_review_url(notification.resturant_id)%></li>
                <div class="dropdown-divider"></div>
              <% end %>
            </ul>
          <% end %>
        </div>
        <%=  form_with(url: resturants_path, method: :get) do |form| %>
          <div class="input-group">
            <%= form.text_field :resturant_name, value: params[:resturant_name], placeholder: "Resturant name", class: "form-control" %>
            <%= form.submit "Search", class: "btn btn-outline-warning" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
