<div class="container">
  <div class="row justify-content-center">
    <div class="col-10" >
      <%= render 'shared/errors', obj: @order%>
      <%= render 'shared/flash' %>
      <%= form_with(model: [@resturant,@order],class: "shadow p-3 mb-5 bg-white rounded",local: true) do |f| %>
        <div class="d-flex justify-content-center">
          <div class="name form-group row">
            <% @order.foodname_array.each_with_index do |food_name, index| %>
              <%= f.fields_for :foodname_array, index: index do |ff| %>
                <div class="form-group">
                  <%= ff.label :food_name, "Food Name :- " %>
                  <span><strong><%= food_name.upcase %></strong></span>
                  <div class ="col-10">
                    <p class="price d-inline text-center"> Price : Rs.<%= @order.food_price_array[index] %> </p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="quantity form-group row mx-3">
            <% @order.foodquantity_array.each_with_index do |food_quantity, index| %>
              <%= f.fields_for :foodquantity_array, index: index do |ff| %>
                <div class="form-group">
                  <%= ff.label :food_quantity, "Food quantity" %>
                  <div class ="col-6">
                    <%= ff.number_field :food_quantity, value: food_quantity, class: "form-control p-1", min: 1,max: 20, onkeydown: "return false;" %>
                    <%= ff.hidden_field :food_price, value: @order.food_price_array[index], data: { price: @order.food_price_array[index] }, class: "newprice" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="form-group row my-3">
          <%= f.label "Total :", class: "col-3 col-form-label" %>
          <div class ="col-2">
            <%= f.text_field :total, class: "col-2 form-control total", readonly: true %>
          </div>
        </div>
        <div class="form-group row my-3">
          <%= f.label "Delivery Address :", class: "col-3 col-form-label" %>
          <div class="col-8">
            <%= f.text_field :delivery_address, class: "form-control text-muted",id: "order_delivery_address",placeholder: "Street Name, City, State ZIP",readonly: true %>
          </div>
        </div>
        <div class="form-group row my-3">
          <%= f.label "Change Address :", class: "col-3 col-form-label" %>
          <div class="col-6">
            <div class="dropdown">
            <div id="pattern-validation-message" style="color: red;"></div>
              <input type="text" name="" id="search-address" placeholder="Search address name here" class="form-control"  pattern="[A-Za-z\s]+">
              <button class="btn btn-sm btn-secondary dropdown-toggle" id="address-search-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                search
              </button>
              <ul class="dropdown-menu" id="autocomplete">  
              </ul>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <%= f.submit 'Place Order',class: "btn btn-outline-success btn-lg me-2"%>
          <%= link_to 'Cancel Order', resturant_order_path(@resturant,@order),method: :delete,data: {turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-lg"%>
        </div>
      <% end %>
    </div>
  </div>
</div>








