<div class="container text-center mb-3">
  <%= render 'shared/flash' %>
  <h2 class="text-center my-4"> <strong>MENU :</strong></h2>
  <%= link_to '[ Back to Restaurant ]', restaurant_path(@restaurant), class: "text-center d-block my-3" %>
  <% @food.each do |food| %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-xxl-5 col-sm-12 mt-4">
          <div class="card text-center shadow p-3 mb-2 bg-white rounded">
            <div class="card-header fst-italic"> <strong> Food name : </strong> <%= food.food_name%></div>
            <div class="restaurant_cover">
                <% if food.food_image.present? %>
                  <%= image_tag food.food_image, style: "height: 200px; width: 100%; object-fit: cover;" %>
                <% else %>
                  <%= image_tag "userimage.jpg", style: "height: 200px; width: 200px; border-radius: 15px" %>
                <% end %>
              </div>
            <div class="card-body">
              <div class="card-text text-center mb-1"><strong>Food Price :  </strong> Rs.<%= food.food_price %></div>
            </div>
            <div class="btn-group">
              <% if logged_in? && (current_user.admin?) %>
                <a href="#"><%= link_to 'Edit', edit_restaurant_food_path(@restaurant,food), class: "btn btn-outline-success"%></a>
                <a href="#"><%= link_to 'Delete', restaurant_food_path(@restaurant,food),method: :delete,data: {confirm: "Are you sure?" }, class: "btn btn-outline-danger"%></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end%>
</div>
