<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h2>Thank you <%= @user.username %>, Your order is placed successfully</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @order.foodquantity_array.each_with_index do |food_quantity, index| %>
        <tr>
          <td><%= @order.foodname_array[index] %></td>
          <td><%= food_quantity %></td>
          <td>Rs.<%= @order.food_price_array[index] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h4>Total Price for Order: Rs.<strong><%= @total %></strong></h2>
  <h4>Delivery Address: <strong><%= @address %></strong></h2>
  <h3>Please provide ratings and reviews: <%= link_to 'Provide ratings', @review_link %></h3>
</body>
</html>

