<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Thankyou <%= @user.username %>, Your order is placed succesfully</h1>
    <%# <%= link_to 'Confirm mail' , @login_link %>
    <h2>Total Price for Order: Rs.<strong><%= @total %></strong></h2>
    <h2>Delivery Address : <strong><%= @address %></strong> </h2>
    <h2> Please provide ratings and reviews</h2>
    <%= link_to 'Please provide ratings and reviews' , @review_link %>
</body>
</html>