<% if logged_in? && current_user.admin? %>
  <% @resturant.reviews.each do |review| %>
    <div class="shadow d-flex p-3 bg-white justify-content-center ">
      <div class="container text-start">
        <strong>Review:</strong>
        <%= review.comment %>
        <% rating = review.rating %>
        <p>Rating : 
          <% 5.times do |i| %>
            <% if rating && i < rating %>
              <span class="bi bi-star-fill"></span>
            <% else %>
              <span class="bi bi-star"></span>
            <% end %>
          <% end %>
        </p>
        <p class="text-right" id="restvalue" value="<%= @resturant.id%>"><strong>by- <%= review.user.username %></strong></p>
        <div class="d-flex justify-content-between">
          <div class="btn-group">
            <%= link_to 'Delete', resturant_review_path(@resturant,review), method: :delete ,data: {turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger"%>
            <% if logged_in? && (review.user_id == current_user.id )%>
              <%= link_to 'Edit', edit_resturant_review_path(@resturant,review), class: "btn btn-outline-warning" %>
            <% end %>
          </div>
          <% if !review.approval? %>
            <button class="btn btn-success approve" id="approve-review<%= review.id %>" value="<%= review.id %>">Approve Review <i class="fa-solid fa-check"></i></button>
          <% end %>
        </div>
      </div>
      <div >
        <%if(review.review_images.first.present?)%>
          <%= link_to image_tag(review.review_images.first,style: "height: 80px; width: 150px"),resturant_path(@resturant)%>
        <%else%>
          <%= image_tag "userimage.jpg",  style: "height: 80px; width: 100px; border-radius: 15px"%>
        <%end%>
      </div>
    </div>
  <% end %>
<% else %>
  <% @resturant.reviews.where(approval: true).each do |review| %>
    <div class="shadow d-flex p-3 bg-white justify-content-center ">
      <div class="container text-start">
        <strong>Review:</strong>
        <%= review.comment %>
        <% rating = review.rating %>
        <p>Rating : 
          <% 5.times do |i| %>
            <span class="bi <%= i < rating ? 'bi-star-fill' : 'bi-star' %>"></span>
          <% end %>
        </p>
        <p class="text-right"><strong>by- <%= review.user.username %></strong></p>
        <% if logged_in? && (review.user_id == current_user.id || current_user.admin?) %>
          <div class="btn-group">
            <%= link_to 'Delete', resturant_review_path(@resturant,review), method: :delete ,data: {turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger"%>
            <%= link_to 'Edit', edit_resturant_review_path(@resturant,review), class: "btn btn-outline-warning" %>
          </div>
        <% end %>
      </div>
      <div >
        <%if(review.review_images.first.present?)%>
          <%= link_to image_tag(review.review_images.first,style: "height: 80px; width: 150px"),resturant_path(@resturant)%>
        <%else%>
          <%= image_tag "userimage.jpg",  style: "height: 80px; width: 100px; border-radius: 15px"%>
        <%end%>
      </div>
    </div>
  <% end %>
<% end %>
